<h1>Categories#show</h1>
<p>Find me in app/views/categories/show.html.erb</p>

<div>
  <%= @category.name %> 
</div>

<div>
  <%= link_to "categories", categories_path %>
  <%= link_to "edit_category", edit_category_path %>
  <%= link_to "delete", category_path, method: :delete %>
</div>