<h1>Regions#index</h1>
<p>Find me in app/views/regions/index.html.erb</p>

<div>
  <% @region.each do |region| %>
    <ul>
      <li><%= link_to region.id, region %>: <%= region.name %></li>
    </ul>
  <% end %>  
</div>

<div>
  <%= link_to "new", new_region_path %>
  <%= link_to "toppages", root_path %>
</div>
